<Files ".config.php">
  Order Allow,Deny
  Deny from All
</Files>

<Files ".config.microsoft-refresh-token.secret">
  Order Allow,Deny
  Deny from All
</Files>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
